html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.App {
  position: relative;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: rgb(253, 214, 221);
  color: black;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  border: #000 2px solid;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 30px;
  display: flex;
}

.nav-links li {
  margin-left: 15px;
  position: relative;
  display: inline-block;
  padding: 0 15px;
}

.nav-links li::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translateY(-50%);
  height: 80%;
  width: 2px;
  background-color: black;
}


.nav-links a {
  color: #000;
  text-decoration: none;
  transition: color 0.3s;
  font-weight: 800;
  font-size: 30px;
}

.nav-links a:hover {
  color: rgb(150, 134, 134);
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.about {
  color: rgb(29, 27, 27);
  background-color: rgb(253, 214, 221);
}

.projects {
  background-color: black;
  color: rgb(253, 214, 221);
}

.contact {
  background-color: rgb(253, 214, 221);
  color: black;
}



h1 {
  font-size: 3rem;
}

p {
  font-size: 1.5rem;
  
}
